/* станадртные ширины элементов для 12 колонок
8,3333%
16,6666%
25%
33,3333%
41,6666%
50%
58,3333%
66,6666%
75%
83,3333%
91,6666%
100%
*/

:root {
    --black: #212121;
    --red: #B21212;
    --white: #FFFFFF;
    --grey: #999999;
    --lihgt_grey: #F5F5F5;
    --shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*! border:solid 1px red; */
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    /*заменяем на нужный*/
    font-size: 1rem;
}


/*@font-face {
	font-family: 'Alice';
	src: url('../fonts/Alice-Regular.ttf') format('truetype');
	font-weight: 400;
	300-light,400-regular,500-medium,600-semibold,700-bold
	font-style: normal;
	font-display: swap;
}*/


/*обнуляем стили по умолчанию*/

ul,
li,
input,
select,
label,
ol,
p,
fieldset {
    margin: 0;
    padding: 0;
    display: block;
    border: none;
}

a::-moz-focus-inner {
    border: none;
}

:focus {
    outline: none;
}

a,
a:focus {
    outline: none;
    text-decoration: none;
    display: block;
    color: inherit;
    transition: ease-in-out 0.3s;
}


/*для адаптивности изображений*/

img {
    max-width: 100%;
    display: block;
    height: auto;
    /*! image-rendering: optimizeSpeed; */
    /*! image-rendering: -moz-crisp-edges; */
    /*! image-rendering: -o-crisp-edges; */
    /*! image-rendering: -webkit-optimize-contrast; */
    /*! image-rendering: pixelated; */
    /*! image-rendering: optimize-contrast; */
    /*! -ms-interpolation-mode: nearest-neighbor; */
}


/*Настраиваем заголовки*/

h1 {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 1.5rem;
}

h2 {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
    font-weight: 500;
    line-height: 1.2rem;
}

h4 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 500;
}


/*настройки для иконок*/


/*универсальная обёртка с полями для всех родительских контейнеров.
Всегда находится внутри родителя и не участвует в задании ширины.
*/

.box {
    padding: 1rem;
}


/*универсальная обёртка с полями для ограничения ширины контента.*/

.wrap {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-flow: row wrap;
    /*! padding: 0 0rem; */
}


/*базовые ширины колонок*/


/*custom select*/


/* end select custom*/

header {
    /*! background: #CCC; */
}

button {
    border-radius: 4px;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 2.5rem;
    font-family: 'Jost', sans-serif;
    /*! min-width: 6rem; */
    /*! text-align: center; */
}

.button {
    /*! border-radius: 3px; */
    /*! height: 2.5rem; */
    /*! margin: 0 auto 1rem auto; */
    /*! min-width: 6rem; */
    /*! text-align: center; */
    justify-content: center;
}

.content main {
    /*! background: antiquewhite; */
    width: 100%;
}

.content {
    /*! background: #FCF; */
}

footer {
    background: var(--red);
    color: var(--white);
    /*! font-size: 0.875rem; */
    /*! font-weight: 500; */
}

.top_black {
    display: flex;
    width: 100%;
    background-color: var(--black);
}

.top_black .wrap {
    /*! display: flex; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.top_black .wrap .box a span {
    display: none;
}

header .top_white {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

header .top_white .left {
    display: none;
}

header .top_white .right .shema {
    display: none;
}

header .top_white .logo {
    width: 50%;
}

header .top_white .right {}

header .top_white .right .record_white .button {}

header .top_white .right .record_white .button button {
    color: var(--red);
    background: var(--white);
    border: solid 1px;
    font-weight: 500;
}

header .top_white .right .record_white img {
    display: none;
}

header .top_white .right .record_red {}

header .top_white .right .time_work {
    text-align: center;
    color: var(--red);
    font-weight: 700;
    font-size: 0.875rem;
    margin-top: 0.5rem;
}

header .top_white .right .mail {
    display: none;
    text-align: center;
    font-size: 0.875rem;
    color: var(--red);
    font-weight: 500;
}

header .top_white .button {
    /*! border: 1px solid var(--red); */
    /*! background: aquamarine; */
}

header .top_white .button button {
    background: var(--red);
    font-family: 'Jost', sans-serif;
    color: var(--white);
    font-weight: 400;
    padding: 0.5rem 0.5rem;
    /*! height: 2.5rem; */
    font-size: 0.75rem;
}

video {
    display: none;
}

#main_menu {
    /*! background: green; */
    background: url(../video/HS046.mp4) no-repeat center center;
    background-size: cover;
}

#main_menu .wrap {
    background: var(--red);
}

#main_menu .wrap .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}
#main_menu .wrap .box .burger{
	cursor: pointer;
}
#main_menu .wrap .box ul {
    display: none;
    position: absolute;
    top: 4.5rem;
    background: var(--lihgt_grey);
    padding: 2rem 1rem 1rem 1rem;
    /*! width: 100%; */
    margin: 0 1rem;
    right: 0;
    left: 0;
    box-shadow: var(--shadow);
    z-index: 40;
    border-radius: 0 0 6px 6px;
}

#main_menu .wrap .box ul li {
    margin-bottom: 1rem;
}

#main_menu .wrap .box ul .active {
    color: var(--red);
}

#main_menu .wrap .box .to_down .button button {
    background: none;
    border: solid 1px var(--white);
    color: var(--white);
}

main .red_select_to {
    background: var(--red);
    color: var(--white);
    /*! display: none; */
}

main .select_car .box {
    width: 100%;
    /*! background: var(--red); */
}

main .select_car .title {
    background: var(--red);
    color: var(--white);
    margin: -1rem;
    padding: 1rem;
    /*! font-size: 0.75rem; */
    /*! font-weight: 400; */
    /*! width: 100%; */
    text-align: center;
}

main .select_car .cars {
    margin-top: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

main .select_car .cars .item {
    width: 50%;
    padding: 1rem;
    max-width: 15rem;
    position: relative;
    /*! transition: ease-in-out 0.3s; */
}

main .select_car .cars .item .pic img {}

main .select_car .cars .item .model {
    text-align: center;
    font-size: 0.875rem;
    margin-top: 0.5rem;
}

main .select_car .cars .item .list {}

main .select_car .cars .item .list ul {}

main .select_car .cars .item .list ul li {}

main .select_car .cars .item .list ul li a {}

main .select_car .cars .item .list_service {
    /*! display: none; */
    /*! opacity: 0; */
    position: absolute;
    transform: scaleX(0);
}

main .red_select_parts {
    background: var(--red);
    color: var(--white);
}

main .red_select_parts .box,
main .red_select_to .box {
    width: 100%;
}

main .red_select_parts .select_s {
    /*! display: none; */
}
main .red_select_parts .select_s form,
main .red_select_to .select_s form{
	width: 100%;
}
main .red_select_parts .select_s .box,
main .red_select_to .select_s .box{
    width: 100%
}

main .red_select_parts .title,
main .red_select_to .title{
    display: none;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    /*! padding-bottom: 1rem; */
}

main .red_select_parts .button
{
    margin: 1rem auto 1rem auto;
    background: var(--red);
    color: var(--white);
    border: solid 1px;
    font-size: 0.875rem;
    font-weight: 400;
    /*! height: 2.5rem; */
    padding: 1rem;
    width: 14rem;
}
main .red_select_to .button{
    margin: 1rem auto 1rem auto;
    background: var(--red);
    color: var(--white);
    border: solid 1px;
    font-size: 0.875rem;
    font-weight: 400;
    /*! height: 2.5rem; */
    padding: 1rem;
	/*! display: none; */
    width: 14rem;
}

/* select*/

.select_custom {
    position: relative;
    /*! height: 3rem; */
    /*! border-radius: 6px; */
    margin: 2.5rem 0 2rem 0;
    display: flex;
    /*! align-items: center; */
}

.select_custom input {
    height: 3rem;
    border-radius: 6px 0 0 6px;
    width: 100%;
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    padding-left: 1rem;
    cursor: pointer;
    /*! filter: none; */
    background: var(--white);
}

.select_custom span {
    background: var(--white);
    border-radius: 0 6px 6px 0;
    /*! padding: 0.25rem; */
    height: 3rem;
    cursor: pointer;
    /*! transform: rotate; */
}

.select_custom .list_select {
    display: none;
    position: absolute;
    background: var(--white);
    color: var(--black);
    top: 3.5rem;
    box-shadow: var(--shadow);
    width: 100%;
    border-radius: 6px;
    z-index: 1;
}

.select_custom .label {
    position: absolute;
    top: -1.5rem;
    font-size: 0.8rem;
    left: 1rem;
    font-weight: 300;
}

.select_custom .list_select ul {
    margin: 1rem 0;
}

.select_custom .list_select ul li {
    /*! margin-bottom: 1rem; */
    transition: ease-in-out 0.3s;
    padding: 0.5rem 1rem;
}

.select_custom .list_select ul li:hover {
    color: var(--red);
    cursor: pointer;
    background: var(--lihgt_grey);
}


/* select end*/

main .about {
    margin: 2rem 0 1rem 0;
}

main .about .title {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

main .about .text {}

main .about .text p {
    margin-bottom: 1rem;
}

main .about .text p a {}

footer .wrap {
    padding: 2rem 0;
}

footer .item {
    /*! width: 25%; */
    min-width: 50%;
}

footer .item h4 {
    margin-bottom: 2rem;
}

footer .item ul {
    font-size: 0.875rem;
    font-weight: 300;
}

footer .item ul li {
    margin-bottom: 1rem;
}

footer .item ul li a {
    border-bottom: dotted 1px var(--lihgt_grey);
    display: inline;
}

footer .item .logo {}

footer .item span {
    font-size: 0.75rem;
    margin-top: 1rem;
    display: block;
    font-weight: 300;
}

.slide .title {
    /*! perspective: 1000; */
    margin-bottom: 1rem;
    font-size: 0.875rem;
    /*! font-weight: 400; */
    /*! padding: 1rem 1rem 0 1rem; */
}

.slide .pic {
    /*! height: 100%; */
    /*! width: 100%; */
    /*! object-fit: cover; */
}

.slide .pic img {
    /*! object-fit: cover; */
    /*! width: 100%; */
    /*! height: auto; */
}

.slide:hover .flipper {
    transform: rotateY(180deg);
}

.slide .intro_text {
    font-size: 0.875rem;
}

.slide .intro_text p {
    margin-bottom: 0.5rem;
}

.slide .button {
    text-align: center;
    border: solid 1px var(--grey);
    border-radius: 4px;
    /*! max-width: 7rem; */
    margin: 0 auto;
    /*! padding: 0.5rem 2rem; */
    font-size: 0.75rem;
    font-weight: 500;
    background: var(--white);
    /*! position: absolute; */
    /*! bottom: 1rem; */
    /*! left: auto; */
    /*! right: auto; */
    /*! width: 8rem; */
}

.slide .button:hover {
    color: var(--red);
    border: solid 1px;
}

.slide .button a {
    display: inline-block;
    /*! background: aqua; */
    padding: 0.5rem 2rem;
}

.slide {
    height: 14rem;
    /*! position: static; */
    /*! width: 100%; */
}

.box_slide {
    margin: 1rem;
}

.front_side,
.back_side {
    /*! width: 28rem; */
    height: 14rem;
    overflow: hidden;
}

.slide .front_side,
.slide .back_side {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.slide .front_side {
    /*! z-index:100; */
    /*! display: none; */
}

.slide .back_side {
    transform: rotateY(180deg);
    background: var(--lihgt_grey);
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    position: relative;
}

.slide .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    /*! background: #839b4f; */
    height: 100%;
}
